## Sumário:
- EDA 
- Treinamento
- Validação

## Objetivo
NCJNet é um modelo preditivo que visa sugerir cursos para o usuário, a predição é feito sob análise de notas e preferência do usuário.

## Configuração do Ambiente
É necessário o ambiente virtual para o funcionamento, para isso, realize os seguintes comandos no terminal
- /NCJNet$ pipenv shell
- /NCJNet$ pipenv install

Após isso, o ambiente está configurado com todas as bibliotecas necessárias. Para verificar, compile o código a baixo.

In [35]:
#import matplotlib.pyplot as plt
#import numpy as np
#import pandas as pd
#import seaborn as sns
#from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# Todas as bibliotecas são necessárias para a compilação

# EDA

In [36]:
import pandas as pd
import seaborn as sns

## Criar DataFrames dos Datasets

In [37]:
# Carregar DataFrame de clientes (customers.csv)
df = pd.read_csv('./datasets/RegistrosTesteF2.csv') # leitura dos dados do csv

# visualizar os dados dos 5 primeiros clientes
df.head(5)

,Identificador,C�digo externo do registro,Etapa,Data da cria��o,Momento do �ltimo ganho,Momento da �ltima perda,Na mesma etapa desde,C�digo - Oferta de curso,Nome - Oferta de curso,Identificador da pessoa,...,Redacao,Quimica,Fisica,Biologia,Geografia,Historia,Filosofia,Sociologia,Artes,Curso
0,28,- - -,Evadidos,03/06/2025 18:55,- - -,- - -,04/06/2025 09:44,- - -,- - -,46,...,76,78,90,73,74,72,73,74,72,Engenharia Eletrica
1,27,- - -,Evadidos,03/06/2025 17:27,- - -,- - -,04/06/2025 09:47,- - -,- - -,43,...,82,82,81,80,78,82,81,83,78,Engenharia da Computação
2,24,- - -,Evadidos,02/06/2025 20:13,- - -,- - -,04/06/2025 09:52,- - -,- - -,30,...,82,80,77,91,78,80,77,78,80,Biologia
3,19,- - -,Evadidos,28/03/2025 15:11,- - -,- - -,04/06/2025 10:03,- - -,- - -,21,...,80,80,79,88,77,78,74,75,73,Medicina Veterinaria
4,18,- - -,Evadidos,28/03/2025 15:11,- - -,- - -,04/06/2025 09:55,- - -,- - -,20,...,84,75,73,74,80,84,81,92,83,Sociologia

In [38]:
# Mostrar estrutura / schema do DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 61 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Identificador                     11 non-null     int64
 1   C�digo externo do registro        11 non-null     object
 2   Etapa                             11 non-null     object
 3   Data da cria��o                   11 non-null     object
 4   Momento do �ltimo ganho           11 non-null     object
 5   Momento da �ltima perda           11 non-null     object
 6   Na mesma etapa desde              11 non-null     object
 7   C�digo - Oferta de curso          11 non-null     object
 8   Nome - Oferta de curso            11 non-null     object
 9   Identificador da pessoa           11 non-null     int64
 10  C�digo externo da pessoa          11 non-null     object
 11  Nome da pessoa                    11 non-null     object
 12  Nome do respons�vel               11 non-null     object
 13  Atividade                         11 non-null     object
 14  E-mail da pessoa                  11 non-null     object
 15  E-mails secund�rios               11 non-null     object
 16  Telefone da pessoa                11 non-null     int64
 17  Telefones secund�rios             11 non-null     object
 18  CPF                               11 non-null     int64
 19  Data de nascimento                11 non-null     object
 20  Valor da oportunidade             11 non-null     object
 21  Data da atividade                 11 non-null     object
 22  Forma de ingresso                 11 non-null     object
 23  Grau de instru��o                 11 non-null     object
 24  Escola de origem                  11 non-null     object
 25  Nota do ENEM                      11 non-null     object
 26  Processo seletivo                 11 non-null     object
 27  Unidade                           11 non-null     object
 28  Modalidade                        11 non-null     object
 29  Status                            11 non-null     object
 30  Local da oferta                   11 non-null     object
 31  Canal                             11 non-null     object
 32  Resumo atual                      11 non-null     object
 33  Obje��o                           11 non-null     object
 34  Observa��es da perda              11 non-null     object
 35  Endere�o                          11 non-null     object
 36  N�mero                            11 non-null     object
 37  Bairro                            11 non-null     object
 38  Cidade                            11 non-null     object
 39  UF                                11 non-null     object
 40  Concorrentes                      11 non-null     object
 41  Probabilidade                     11 non-null     object
 42  [AE] Situa��o de matr�cula        11 non-null     object
 43  Area de Preferencia               11 non-null     object
 44  [AE] % de nota geral              11 non-null     object
 45  [AE] % de frequ�ncia geral        11 non-null     object
 46  [AE] Satisfa��o                   11 non-null     object
 47  [AE] Qtd de lan�amentos Vencidos  11 non-null     object
 48  Matematica                        11 non-null     int64
 49  Portugues                         11 non-null     int64
 50  Literatura                        11 non-null     int64
 51  Redacao                           11 non-null     int64
 52  Quimica                           11 non-null     int64
 53  Fisica                            11 non-null     int64
 54  Biologia                          11 non-null     int64
 55  Geografia                         11 non-null     int64
 56  Historia                          11 non-null     int64
 57  Filosofia                         11 non-null     int64
 58  Sociologia                        11 non-null     int64
 59  Artes                             11 non-null     int64
 60  Curso                             11 non-null     object
dtypes: int64(16), object(45)
memory usage: 5.4+ KB

### Selecionar apenas dados necessários

In [39]:
colunas_desejadas = ["Matematica", "Portugues", "Literatura", "Redacao", "Quimica", "Fisica", "Biologia", "Geografia", "Historia", "Filosofia", "Sociologia", "Artes", "Area de Preferencia", "Curso"]
df_filtrado = df[colunas_desejadas]
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Matematica           11 non-null     int64
 1   Portugues            11 non-null     int64
 2   Literatura           11 non-null     int64
 3   Redacao              11 non-null     int64
 4   Quimica              11 non-null     int64
 5   Fisica               11 non-null     int64
 6   Biologia             11 non-null     int64
 7   Geografia            11 non-null     int64
 8   Historia             11 non-null     int64
 9   Filosofia            11 non-null     int64
 10  Sociologia           11 non-null     int64
 11  Artes                11 non-null     int64
 12  Area de Preferencia  11 non-null     object
 13  Curso                11 non-null     object
dtypes: int64(12), object(2)
memory usage: 1.3+ KB

In [40]:
df_filtrado.head(5)

,Matematica,Portugues,Literatura,Redacao,Quimica,Fisica,Biologia,Geografia,Historia,Filosofia,Sociologia,Artes,Area de Preferencia,Curso
0,92,78,75,76,78,90,73,74,72,73,74,72,Exatas,Engenharia Eletrica
1,95,82,85,82,82,81,80,78,82,81,83,78,Exatas,Engenharia da Computação
2,79,82,78,82,80,77,91,78,80,77,78,80,Biologicas,Biologia
3,78,80,79,80,80,79,88,77,78,74,75,73,Biologicas,Medicina Veterinaria
4,75,82,85,84,75,73,74,80,84,81,92,83,Humanas,Sociologia

In [41]:
#  Medidas estatísticas do DF
df_filtrado.describe()

,Matematica,Portugues,Literatura,Redacao,Quimica,Fisica,Biologia,Geografia,Historia,Filosofia,Sociologia,Artes
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,81.454545,80.272727,79.545455,81.727273,78.000000,78.363636,80.727273,77.909091,79.818182,77.727273,79.818182,77.090909
std,7.954416,2.240130,4.297991,2.901410,3.255764,5.123919,7.887850,2.844452,5.963525,4.839234,6.645573,5.029007
min,72.000000,75.000000,71.000000,76.000000,72.000000,72.000000,71.000000,74.000000,72.000000,71.000000,71.000000,71.000000
25%,76.500000,80.000000,78.000000,80.000000,76.500000,75.000000,74.000000,77.000000,78.000000,74.000000,75.000000,73.000000
50%,78.000000,80.000000,79.000000,82.000000,80.000000,79.000000,80.000000,78.000000,80.000000,77.000000,78.000000,78.000000
75%,88.000000,82.000000,83.000000,83.000000,80.000000,80.000000,87.000000,78.000000,81.000000,81.000000,84.000000,80.500000
max,95.000000,83.000000,85.000000,86.000000,82.000000,90.000000,92.000000,85.000000,94.000000,85.000000,92.000000,86.000000

In [42]:
# Mapeando as áreas de cada curso
areas_cursos = {
    'Sociologia': 'Humanas',
    'Psicologia': 'Saúde',
    'Odontologia': 'Saúde',
    'Medicina Veterinária': 'Biológicas',
    'Medicina': 'Saúde',
    'Historia': 'Humanas',
    'Engenharia Eletrica': 'Exatas', 
    'Engenharia da Computação': 'Exatas',
    'Engenharia Civil': 'Exatas',
    'Enfermagem': 'Saúde',
    'Biologia': 'Biológicas'
}

## Features e transformação dos dados

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import numpy as np

# Features (X) = notas por disciplina
feature_cols = ['Matematica', 'Portugues', 'Literatura', 'Redacao', 'Quimica', 'Fisica', 'Biologia', 'Geografia', 'Historia', 'Filosofia', 'Sociologia', 'Artes']
X = df_filtrado[feature_cols]

# Rótulo (y) = curso que o aluno faz
y_categorico = df_filtrado["Curso"]

# Transformar a variável curso para formato numérico
label_curso = LabelEncoder()
y = label_curso.fit_transform(y_categorico)

## Treinamento com Random Forest

In [46]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42, oob_score=True)
rf_model.fit(X, y)

print(f"Score OOB (Out-of-Bag) do modelo: {rf_model.oob_score_:.4f}")

Score OOB (Out-of-Bag) do modelo: 0.0000

## Treinamento com XGBoost

## Salvar o modelo

In [64]:
import joblib 

# Salvar modelo
joblib.dump(rf_model, './model/sugestor.pkl')
# salvar encoder
joblib.dump(label_curso, './model/labelCurso.pkl')

['./model/labelCurso.pkl']