## Sumário:
- EDA 
- Treinamento
- Validação

## Objetivo
NCJNet é um modelo preditivo que visa sugerir cursos para o usuário, a predição é feito sob análise de notas e preferência do usuário.

## Configuração do Ambiente
É necessário o ambiente virtual para o funcionamento, para isso, realize os seguintes comandos no terminal
- /NCJNet$ pipenv shell
- /NCJNet$ pipenv install

Após isso, o ambiente está configurado com todas as bibliotecas necessárias. Para verificar, compile o código a baixo.

In [ ]:
#import matplotlib.pyplot as plt
#import numpy as np
#import pandas as pd
#import seaborn as sns
#from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# Todas as bibliotecas são necessárias para a compilação

# EDA

In [2]:
import pandas as pd

## Criar DataFrames dos Datasets

In [20]:
# Carregar DataFrame de clientes (customers.csv)
df = pd.read_csv('./datasets/RegistrosAcompanhamento2.csv') # leitura dos dados do csv

# visualizar os dados dos 5 primeiros clientes
df.head(5)

,Identificador,Codigo externo do registro,Etapa,Data da criacao,Momento do ultimo ganho,Momento da ultima perda,Na mesma etapa desde,Codigo - Oferta de curso,Nome - Oferta de curso,Identificador da pessoa,...,Literatura,Redacao,Quimica,Fisica,Biologia,Geografia,Historia,Filosofia,Sociologia,Artes
0,19,"""- - -""",Egressos,"""28/03/2025 15:11""","""- - -""","""- - -""","""28/03/2025 15:12""","""- - -""","""- - -""",21,...,"""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -"""
1,18,"""- - -""","""Em Alerta""","""28/03/2025 15:11""","""- - -""","""- - -""","""28/03/2025 15:15""","""- - -""","""- - -""",20,...,"""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -"""
2,17,"""- - -""","""Em Alerta""","""28/03/2025 15:11""","""- - -""","""- - -""","""28/03/2025 15:15""","""- - -""","""- - -""",19,...,"""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -"""
3,16,"""- - -""","""Alunos Regulares""","""28/03/2025 15:11""","""- - -""","""- - -""","""28/03/2025 15:15""","""- - -""","""- - -""",17,...,"""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -"""
4,15,"""- - -""",Egressos,"""28/03/2025 15:11""","""- - -""","""- - -""","""23/05/2025 15:39""","""- - -""","""- - -""",18,...,"""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -""","""- - -"""

In [21]:
# Mostrar estrutura / schema do DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 59 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Identificador                      8 non-null      int64
 1    Codigo externo do registro        8 non-null      object
 2    Etapa                             8 non-null      object
 3    Data da criacao                   8 non-null      object
 4    Momento do ultimo ganho           8 non-null      object
 5    Momento da ultima perda           8 non-null      object
 6    Na mesma etapa desde              8 non-null      object
 7    Codigo - Oferta de curso          8 non-null      object
 8    Nome - Oferta de curso            8 non-null      object
 9    Identificador da pessoa           8 non-null      int64
 10   Codigo externo da pessoa          8 non-null      object
 11   Nome da pessoa                    8 non-null      object
 12   Nome do responsavel               8 non-null      object
 13   Atividade                         8 non-null      object
 14   E-mail da pessoa                  8 non-null      object
 15   E-mails secundarios               8 non-null      object
 16   Telefone da pessoa                8 non-null      int64
 17   Telefones secundarios             8 non-null      object
 18   CPF                               8 non-null      int64
 19   Data de nascimento                8 non-null      object
 20   Valor da oportunidade             8 non-null      object
 21   Data da atividade                 8 non-null      object
 22   Forma de ingresso                 8 non-null      object
 23   Grau de instrucao                 8 non-null      object
 24   Escola de origem                  8 non-null      object
 25   Nota do ENEM                      8 non-null      object
 26   Processo seletivo                 8 non-null      object
 27   Unidade                           8 non-null      object
 28   Modalidade                        8 non-null      object
 29   Status                            8 non-null      object
 30   Local da oferta                   8 non-null      object
 31   Canal                             8 non-null      object
 32   Resumo atual                      8 non-null      object
 33   Objecao                           8 non-null      object
 34   Observacoes da perda              8 non-null      object
 35   Endereco                          8 non-null      object
 36   Numero                            8 non-null      object
 37   Bairro                            8 non-null      object
 38   Cidade                            8 non-null      object
 39   UF                                8 non-null      object
 40   Concorrentes                      8 non-null      object
 41   Probabilidade                     8 non-null      object
 42  [AE] Situacao de matricula         8 non-null      object
 43  [AE] % de nota geral               8 non-null      int64
 44  [AE] % de frequencia geral         8 non-null      int64
 45  [AE] Satisfacao                    8 non-null      float64
 46   [AE] Qtd de lancamentos Vencidos  8 non-null      int64
 47  Matematica                         8 non-null      object
 48  Portugues                          8 non-null      object
 49  Literatura                         8 non-null      object
 50  Redacao                            8 non-null      object
 51  Quimica                            8 non-null      object
 52  Fisica                             8 non-null      object
 53  Biologia                           8 non-null      object
 54  Geografia                          8 non-null      object
 55  Historia                           8 non-null      object
 56  Filosofia                          8 non-null      object
 57  Sociologia                         8 non-null      object
 58  Artes                              8 non-null      object
dtypes: float64(1), int64(7), object(51)
memory usage: 3.8+ KB

### Selecionar apenas dados necessários

In [23]:
colunas_desejadas = ["[AE] % de nota geral", "[AE] % de frequencia geral", "[AE] Satisfacao","Matematica", "Portugues", "Literatura", "Redacao", "Quimica", "Fisica", "Biologia", "Geografia", "Historia", "Filosofia", "Sociologia", "Artes"]
df_filtrado = df[colunas_desejadas]
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   [AE] % de nota geral        8 non-null      int64
 1   [AE] % de frequencia geral  8 non-null      int64
 2   [AE] Satisfacao             8 non-null      float64
 3   Matematica                  8 non-null      object
 4   Portugues                   8 non-null      object
 5   Literatura                  8 non-null      object
 6   Redacao                     8 non-null      object
 7   Quimica                     8 non-null      object
 8   Fisica                      8 non-null      object
 9   Biologia                    8 non-null      object
 10  Geografia                   8 non-null      object
 11  Historia                    8 non-null      object
 12  Filosofia                   8 non-null      object
 13  Sociologia                  8 non-null      object
 14  Artes                       8 non-null      object
dtypes: float64(1), int64(2), object(12)
memory usage: 1.1+ KB

## Transformação dos dados